.button{
  padding: 12px 20px 12px 20px;
  font-size: 14px;
  background: transparent;
  border: 1px solid $colorGray999;
  border-radius: 4px;
  line-height: 1;
  color: $colorGray999;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: 0 auto;
  outline: none;
  cursor: pointer;
  font-family: $font3;
  font-weight: 500;
  &.m-blue{
    border: 1px solid $colorBlue;
    color: $colorBlue;
    &:hover{
      border: 1px solid #146dc8;
      color:#146dc8;
    }

  }

  &:hover{
    color: #505152;
    border: 1px solid #505152;
  }
}