.button{
  padding: 12px 20px 12px 20px;
  font-size: 14px;
  background: transparent;
  border: 1px solid $colorGray999;
  border-radius: 4px;
  line-height: 1;
  color: $colorGray999;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin: 0 auto;
  &.m-blue{
    border: 1px solid $colorBlue;
    color: $colorBlue;

  }
}