.contacts{
  height: 182px;
  background: $colorGray257;
  padding-top:50px;
  @include media-960 {
    padding-top:15px;
  }


  &__info{
    display:flex;
    align-items: center;
    line-height: 20px;
    font-size: 14px;
    color: #303133;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    @include media-960 {
      display:block;
      line-height: 22px;
    }
    @include media-640 {
      font-size: 12px;

    }
  }

  &__font{
    font-weight: normal;
  }


  &__divider{
    width: 2px;
    height: 13px;
    background: #D80027 ;
    margin-right: 30px;
    margin-left: 30px;
    @include media-960 {
      display:none;
    }
  }
}