.footer{
  background: #505152;
  padding-top: 30px;
  padding-bottom:30px;
  &__block{
    display: flex;
    @include media-640 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__left{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media-960 {
      width: 33%;
    }
    @include media-768 {
      display: block;
      width: 40%;
    }
    @include media-640 {
      width:auto;
    }
  }
  &__logo{}
  &__copyright{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    font-family: $font6;
  }

  &__right{
    width: 60%;
    display: flex;
    justify-content: space-between;
    @include media-960 {
      width: 67%;
    }
    @include media-768 {
      display: block;
      width: 60%;
    }
    @include media-640 {
      margin-top:20px;
      width:auto;
    }
  }

  &__ul{
    list-style: none;
    color: rgba(255, 255, 255, 0.6);
    padding: 0;
    margin: 0 0 0 10px;
  }

  &__li{
    list-style: none;
    margin: 0 0 7px 0;
    padding: 0;


  }

  &__link{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: normal;
    font-family:"Roboto Light";
  }

  &__contacts{
    color: white;
    font-size: 14px;
    @include media-768 {
      margin-top: 20px;
    }
    @include media-640 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  }

  &__email, &__phone1{
    font-family: $font6;
  }

  &__phone{
    display:block;
    text-decoration: none;
    color:$colorWhite;
    margin-top:7px;
  }


}