.logo{
  font-family: Roboto Condensed;
  font-style: italic;
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
  color:$colorWhite;
  &.m-red{
    color:#F4002C;
  }
  &.m-grey{
    color:$colorGray999;
  }
  &.m-header{
    font-size: 40px;
  }

}