.recovery{
  background: #F2F5F7;
  padding-top: 150px;
  padding-bottom: 150px;
  font-family: $font6;
  @include media-640 {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  &__shadow-block{
    max-width: 400px;
    margin:0 auto;
  }

  &__title{
    font-weight: bold;
    font-size: 24px;
    color: #303133;
    text-align: center;
    margin-bottom: 20px;
    font-family: $font5;
  }

  &__item{
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    height: 38px;
    margin-bottom: 20px;
    margin-top: 5px;
    &.m-error{
      border: 1px solid #F4002C;
      margin-bottom: 25px;
    }
    &.m-error .recovery__error{
      display: block;
      color: #F4002C;
      font-size: 13px;
      padding-top: 2px;

    }
  }

  &__input{
    outline: none;
    border: none;
    width: 100%;
    height: 34px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 15px;
  }

  &__error{
    display: none;
  }

  &__success{
    display: flex;
    align-items: center;
    margin-top:10px;
  }

  &__icon{
    width:34px;
    height: 34px;
    margin-right: 5px;
    text-align: center;
    svg{
      width:100%;
      height: 100%;
    }
  }

  &__button{
    color: $colorWhite;
    background: $colorBlue;
    margin: 0;
  }
}