<%= _.template(require('./../includes/header.html'))() %>
<div class="notfound">
    <div class="notfound__top">
        <div class="notfound__4 m-right">4</div>
        <div class="notfound__image">
            <img src="/src/img/image2.png" alt=""/>
        </div>
        <div class="notfound__4 m-left">4</div>
    </div>
    <div class="notfound__text">К сожалению, такой страницы не существует на нашем сайте.</div>
    <a href="" class="notfound__link">На главную</a>
</div>

<%= _.template(require('./../includes/footer.html'))() %>