<%= _.template(require('./../includes/header.html'))({className: 'm-small'}) %>
<div class="end-registration">
    <div class="container">
        <div class="shadow-block end-registration__shadow-block">
            <div class="end-registration__top">
                <div class="end-registration__icon">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="24" cy="24" r="23" stroke="#1989FA" stroke-width="2"/>
                        <path d="M18 24.4182L22.4521 29L31 20" stroke="#1989FA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>

                </div>
                <div class="end-registration__title">Регистрация завершена</div>
            </div>
            <div class="end-registration__text">
                <p>Спасибо, что выбрали CarEcoSystem! В ближайшее время наши менеджеры проверят указанные вами данные.</p>
                <p>После этого на указанный почтовый адрес придёт письмо с подтверждением регистрации и доступом в личный кабинет.</p>
            </div>
            <a href="" class="end-registration__link">На главную</a>
        </div>
    </div>
</div>


<%= _.template(require('./../includes/footer.html'))() %>