<%= _.template(require('./../includes/header.html'))() %>
<div class="grey">
    <div class="news">
        <h2>Новости</h2>
        <div class="container">
            <div class="news__listing">
                <div class="news__item">
                    <a href="" class="news__image">
                        <img src="/src/img/image.png" alt=""/>
                    </a>
                    <div class="news__content">
                        <div class="news__date">21.10.2018</div>
                        <a href="" class="news__title">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</a>
                        <div class="news__preview">Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                            Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                        </div>
                    </div>
                </div>

                <div class="news__item">
                    <a href="" class="news__image">
                        <img src="/src/img/image1.png" alt=""/>
                    </a>
                    <div class="news__content">
                        <div class="news__date">21.10.2018</div>
                        <a href="" class="news__title">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</a>
                        <div class="news__preview">Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                            Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                        </div>
                    </div>
                </div>

            </div>
            <a href="" class="button m-blue">Показать еще</a>
            <div class="divider news__divider"></div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html'))() %>