<%= _.template(require('./../includes/header.html'))() %>
<div class="grey">
    <div class="news">
        <h1>Новости</h1>
        <div class="container">
            <div class="news__listing">
                <div class="news__item">
                    <a href="" class="news__image">
                        <img src="/src/img/image.png" alt=""/>
                    </a>
                    <div class="news__text">
                        <div class="news__date">21.10.2018</div>
                        <a href="" class="news__title">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</a>
                        <div class="news__preview">Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                            Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <a href="" class="news__image">
                        <img src="/src/img/image1.png" alt=""/>
                    </a>
                    <div class="news__content">
                        <div class="news__date">21.10.2018</div>
                        <a href="" class="news__title">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</a>
                        <div class="news__preview">Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                            Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <a href="" class="news__image">
                        <img src="/src/img/image.png" alt=""/>
                    </a>
                    <div class="news__content">
                        <div class="news__date">21.10.2018</div>
                        <a href="" class="news__title">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</a>
                        <div class="news__preview">Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                            Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <a href="" class="news__image">
                        <img src="/src/img/image1.png" alt=""/>
                    </a>
                    <div class="news__content">
                        <div class="news__date">21.10.2018</div>
                        <a href="" class="news__title">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</a>
                        <div class="news__preview">Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                            Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <a href="" class="news__image">
                        <img src="/src/img/image.png" alt=""/>
                    </a>
                    <div class="news__content">
                        <div class="news__date">21.10.2018</div>
                        <a href="" class="news__title">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</a>
                        <div class="news__preview">Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                            Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                        </div>
                    </div>
                </div>
                <div class="news__item">
                    <a href="" class="news__image">
                        <img src="/src/img/image1.png" alt=""/>
                    </a>
                    <div class="news__content">
                        <div class="news__date">21.10.2018</div>
                        <a href="" class="news__title">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</a>
                        <div class="news__preview">Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                            Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд
                        </div>
                    </div>
                </div>

            </div>
            <a href="" class="button m-blue">Показать еще</a>
            <div class="divider news__divider"></div>
        </div>
        <div class="pagination">
            <a href="" class="pagination__left">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="#F2F5F7"/>
                    <path d="M20 12L14 18L20 24" stroke="#C0C3C4" stroke-width="2"/>
                </svg>


            </a>
            <div class="pagination__num">
                <a class="pagination__link m-active" href="#">1</a>
                <a class="pagination__link" href="#">2</a>
                <a class="pagination__link" href="#">3</a>
                <a class="pagination__link" href="#">...</a>
                <a class="pagination__link" href="#">11</a>
            </div>
            <a href="" class="pagination__right">
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18" r="18" fill="#F2F5F7"/>
                    <path d="M16 24L22 18L16 12" stroke="#C0C3C4" stroke-width="2"/>
                </svg>
            </a>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html'))() %>