<%= _.template(require('./../includes/header.html'))({className: 'm-small'}) %>
<div class="new">
    <div class="container">
        <div class="banner new__banner">
            <img src="/img/image.png" alt=""/>
        </div>
        <div class="new__content">
            <div class="new__title">
                <div class="new__top">
                    <div class="new__category">Транспорт</div>
                    <div class="new__divider"></div>
                    <div class="new__date">21.10.2018</div>
                </div>
                <h1 class="new__bottom">Renault Trucks готовит к испытаниям экспериментальный экономичный автопоезд</h1>
            </div>
        <h2>Коротко о новом тягаче</h2>
        <p>Пока некоторые производители переводят свои тягачи на электротягу, в компании Renault
            продолжают добиваться максимальной экономии от обычных дизельных автопоездов. Так, недавно французы построили экспериментальный автопоезд,
            максимально заточенный на экономию топлива.</p>
        <p><b>Создан он в рамках французской государственной программы по разработке аэродинамических грузовых
            автомобилей с низким расходом топлива.</b></p>
        <p>Более того, в разработке этого автопоезда, получившего название Optifuel Lab 3, принимали участие с десяток р
            азных местных компаний.</p>
        <p><a href="">Во главе автопоезда — тягач Renault T.</a></p>
        <p>Но его внешность доработана с целью улучшения аэродинамических характеристик.
            Изменена форма переднего бампера, убраны все выступающие элементы на боковинах, включая боковые зеркала. Их, как у нового тягача Mercedes Actros, заменили камеры на тоненьких кронштейнах.</p>
        <img src="/img/image.png" alt=""/>
        <p>Задний обтекатель кабины расположен максимально близко к полуприцепу, дизайн которого также работает на аэродинамику — в буквальном смысле слова. В зависимости от количества груза внутри высота крыши может меняться, уменьшаясь там, где груза нет. На этом фоне закрытые щитками боковины уже не выглядят чем-то фантастическим.</p>
        <p><i>Заявлено, что тягач и прицеп обуты в специальные шины Michelin со сниженным сопротивлением качению.</i></p>
        <h2>А вот о технической начинке автопоезда данных пока нет.</h2>
        <p>Известно лишь, что тягач получит максимально облегченную сдвоенную батарею, а в его двигатель будет залито особое маловязкое масло Total. </p>
        <p>Разработчики предполагают, что благодаря всем играм с аэродинамикой и техникой экспериментальному автопоезду, по сравнению с обычным, удастся достичь 13-процентной экономии топлива.</p>
        <p>Испытания экономичного автопоезда начнутся на дорогах Европы в следующем году, а их итоги будут подведены в начале 2020-го.</p>
        <ul>
            <li>13-процентной экономии топлива</li>
            <li>Залито особое маловязкое масло Total</li>
            <li>13-процентной экономии топлива</li>
            <li>13-процентной экономии топлива</li>
        </ul>

        <ol>
            <li>13-процентной экономии топлива</li>
            <li>Залито особое маловязкое масло Total</li>
            <li>13-процентной экономии топлива</li>
            <li>13-процентной экономии топлива</li>
        </ol>
    </div>

</div>
</div>


<%= _.template(require('./../includes/footer.html'))() %>