$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorPrimary: #1A1A1A;
$colorGray257: #F2F5F7;
$colorGray79: #D7D9DB;
$colorGray999: #9A9A9A;
$colorBlue: #1989FA;

$font1: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
$font2: Roboto Black, 'Open Sans', 'Helvetica Neue', sans-serif;
$font3: Roboto Regular, 'Open Sans', 'Helvetica Neue', sans-serif;
$font4: Roboto Bold, 'Open Sans', 'Helvetica Neue', sans-serif;
$font5: Roboto Medium, 'Open Sans', 'Helvetica Neue', sans-serif;
$font6: Roboto Light, 'Open Sans', 'Helvetica Neue', sans-serif;
$font7: Roboto Condensed, 'Open Sans', 'Helvetica Neue', sans-serif;


@mixin dev($name: '', $height: 30, $color: #df1c41) {
  border: 1px solid $color;
  min-height: unquote($height + 'px');
  position: relative;
  &::after {
    position: absolute;
    top: 3px;
    left: 3px;
    content: $name;
    color: #777;
    font-size: 12px;
  }
}

@mixin media-320() { @media all and (max-width: 320px) { @content; } }
@mixin media-640() { @media all and (max-width: 640px) { @content; } }
@mixin media-768() { @media all and (max-width: 768px) { @content; } }
@mixin media-960() { @media all and (max-width: 960px) { @content; } }
@mixin media-1200() { @media all and (max-width: 1200px) { @content; } }
@mixin media-1440() { @media all and (max-width: 1440px) { @content; } }


@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto/Roboto.ttf);
}
@font-face {
  font-family: 'Roboto Black';
  src: url(../fonts/Roboto/Robotoblack.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../fonts/Roboto/Robotoregular.ttf);
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../fonts/Roboto/Robotobold.ttf);
}

@font-face {
  font-family: 'Roboto Medium';
  src: url(../fonts/Roboto/Robotomedium.ttf);
}

@font-face {
  font-family: 'Roboto Light';
  src: url(../fonts/Roboto/Robotolight.ttf);
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url(../fonts/Roboto/Robotocondensed.ttf);
}

@import "~normalize.css/normalize.css";
@import "import/*.scss";
